<script src="doctors.component.ts"></script>
<div class="container">
  <h2> Doctors</h2>
  <div *ngIf="doctors.length == 0">
    <div class="alert alert-info" role="alert">Loading...</div>
  </div>

  <div *ngIf="doctors.length > 0">
    <form>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th class="uppercase" scope="col">Name</th>
          <th class="uppercase" scope="col">Birthdate</th>
          <th class="uppercase" scope="col">Adress</th>
          <th class="uppercase" scope="col">Gender</th>
          <th class="uppercase" scope="col">Action</th>
        </tr>
        </thead>
        <tbody *ngFor="let doctor of doctors">
        <tr>
          <td>{{doctor.name}}</td>
          <td>{{doctor.birthDate}}</td>
          <td>{{doctor.adress}}</td>
          <td>{{doctor.gender}}</td>
          <td><button class="btn btn-primary" (click)="deleteDoctorById(doctor)">Delete doctor</button></td>
        </tr>
        </tbody>
      </table>
    </form>
</div>
</div>
