
  <body>
  <!-- Begin Page Content -->

<form (ngSubmit)="onSubmit()">
  <div id="container">
  <div class="form-group">
    <label  for="username">Username</label>
    <input type="text" name="username" class="form-control" [(ngModel)]="login.username"/>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" [(ngModel)]="login.password"/>
  </div>
<!--    <div class="form-group">-->
<!--    <input type="hidden" name="type" class="form-control" [(ngModel)]="login.type"/>-->
<!--  </div>-->

  <div id="lower">
  <button type="submit"
          class="btn btn-primary">Login
  </button>
  </div>
  </div>
</form>
