<mat-toolbar color="primary">
  <button mat-button (click)="goHome()"> Home</button>
  <button mat-button (click)="goLogin()"> Login</button>
  <button mat-button (click)="goLogout()"> Logout</button>
  <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="this.isButtonVisible">Menu
  </button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenuDoctor">Doctor</button>
    <button mat-menu-item [matMenuTriggerFor]="subMenuPatient">Patient</button>
    <button mat-menu-item [matMenuTriggerFor]="subMenuCaregiver">Caregiver</button>
    <button mat-menu-item [matMenuTriggerFor]="subMenuPlan">Plan</button>
    <!--    <button mat-menu-item>Help</button>-->
  </mat-menu>
  <mat-menu #subMenuDoctor="matMenu">
    <button mat-menu-item (click)="getDoctors()" >View Doctors</button>
    <button mat-menu-item (click)="goAddDoctor()">Add Doctor</button>
 </mat-menu>

  <mat-menu #subMenuPatient="matMenu">
    <button mat-menu-item (click)="getPatients()" >View Patients</button>
    <button mat-menu-item (click)="goAddPatient()">Add Patient</button>
  </mat-menu>

  <mat-menu #subMenuCaregiver="matMenu">
    <button mat-menu-item (click)="getCaregivers()" >View Caregivers</button>
    <button mat-menu-item (click)="goAddCaregiver()">Add Caregiver</button>
  </mat-menu>
  <mat-menu #subMenuPlan="matMenu">
    <button mat-menu-item (click)="getIntakes()" >View Plan</button>
  </mat-menu>


</mat-toolbar>


