<script src="doctors.component.ts"></script>
<div class="container">
  <h2> Caregivers</h2>
  <div *ngIf="caregivers.length == 0">
    <div class="alert alert-info" role="alert">Loading...</div>
  </div>

  <div *ngIf="caregivers.length > 0">
    <form>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th class="uppercase" scope="col">Name</th>
          <th class="uppercase" scope="col">Birthdate</th>
          <th class="uppercase" scope="col">Adress</th>
          <th class="uppercase" scope="col">Gender</th>
          <th class="uppercase" scope="col">Action</th>

        </tr>
        </thead>
        <tbody *ngFor="let c of caregivers">
        <tr>
          <td>{{c.name}}</td>
          <td>{{c.birthDate}}</td>
          <td>{{c.adress}}</td>
          <td>{{c.gender}}</td>
          <td><button class="btn btn-primary" (click)="deleteCaregiverById(c)">Delete caregiver</button></td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>

  <!--<div class="container">-->
  <!--  <div class="row">-->
  <!--    <div class="col-md-6 offset-md-3">-->
  <!--      <h3>Create an account</h3>-->
  <!--      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">-->
  <!--        <div class="form-group">-->
  <!--          <label>Username</label>-->
  <!--          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.username.errors }" />-->
  <!--          <div *ngIf="submitted && requestedForm.name.errors" class="invalid-feedback">-->
  <!--            <div *ngIf="requestedForm.name.errors.required">Username is required</div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="form-group">-->
  <!--          <label>Password</label>-->
  <!--          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.password.errors }" />-->
  <!--          <div *ngIf="submitted && requestedForm.password.errors" class="invalid-feedback">-->
  <!--            <div *ngIf="requestedForm.password.errors.required">Password is required</div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="form-group">-->
  <!--          <label>Type</label>-->
  <!--          <input type="type" formControlName="type" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestedForm.type.errors }" />-->
  <!--          <div *ngIf="submitted && requestedForm.type.errors" class="invalid-feedback">-->
  <!--            <div *ngIf="requestedForm.type.errors.required">Type is required</div>-->
  <!--          </div>-->
  <!--        </div>-->

  <!--        <div class="form-group">-->
  <!--          <button class="btn btn-primary">Insert</button>-->
  <!--        </div>-->
  <!--      </form>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
