<script src="intakes.component.ts"></script>
<div class="container">
  <h2> Medication Plan</h2>
  <div *ngIf="intakes.length == 0">
    <div class="alert alert-info" role="alert">Loading...</div>
  </div>

  <div *ngIf="intakes.length > 0">
    <form>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th class="uppercase" scope="col">Medication</th>
          <th class="uppercase" scope="col">Dosage</th>
          <th class="uppercase" scope="col">Start Date</th>
          <th class="uppercase" scope="col">End Date</th>
          <th class="uppercase" scope="col">Status</th>
          <th class="uppercase" scope="col">Patient Name</th>
        </tr>
        </thead>
        <tbody *ngFor="let i of intakes">
        <tr>
          <td>{{i.medicationDTO.name}}</td>
          <td>{{i.dosage}}</td>
          <td>{{i.startDate}}</td>
          <td>{{i.endDate}}</td>
          <td>{{i.status}}</td>
          <td>{{i.patientDTO.name}}</td>
        </tr>
        </tbody>
      </table>
    </form>
</div>
</div>
