<br>
<h2> Add Doctor </h2>
<br>
<body>
<!-- Begin Page Content -->

<form (ngSubmit)="onSubmit()">
  <div id="container">
    <div class="col-md-6 form-line">
      <div class="form-group">
        <label  for="username">Username</label>
        <input type="text" name="username" class="form-control" [(ngModel)]="doctor.user1Dto.username"/>
      </div>

      <div class="form-group">
        <label  for="password">Password</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="doctor.user1Dto.password"/>
      </div>

    <div class="form-group">
      <label  for="name">Name</label>
      <input type="text" name="doctorName" class="form-control" [(ngModel)]="doctor.name"/>
    </div>

    <div class="form-group">
      <label for="adress">Adress</label>
      <input type="text" name="adress" class="form-control" [(ngModel)]="doctor.adress"/>

    </div>

    <div class="form-group">
      <label for="birthDate">Birthdate</label>
      <input type="text" name="birthDate" class="form-control" [(ngModel)]="doctor.birthDate"/>

    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <input type="text" name="gender" class="form-control" [(ngModel)]="doctor.gender"/>
    </div>
    </div>

    <div id="lower">
      <button type="submit"
              class="btn btn-primary">Create
      </button>

    </div>
  </div>
</form>
