<br>
<h2> Add Patient </h2>
<br>
<body>
<!-- Begin Page Content -->

<form (ngSubmit)="onSubmit()">
  <div id="container">
    <div class="col-md-6 form-line">
      <div class="form-group">
        <label  for="username">Username</label>
        <input type="text" name="username" class="form-control" [(ngModel)]="patient.userDTO.username"/>
      </div>

      <div class="form-group">
        <label  for="password">Password</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="patient.userDTO.password"/>
      </div>

      <div class="form-group">
        <label  for="name">Name</label>
        <input type="text" name="doctorName" class="form-control" [(ngModel)]="patient.name"/>
      </div>

      <div class="form-group">
        <label for="adress">Adress</label>
        <input type="text" name="adress" class="form-control" [(ngModel)]="patient.adress"/>

      </div>

      <div class="form-group">
        <label for="birthDate">Birthdate</label>
        <input type="text" name="birthDate" class="form-control" [(ngModel)]="patient.birthDate"/>

      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <input type="text" name="gender" class="form-control" [(ngModel)]="patient.gender"/>
      </div>

      <div class="form-group">
        <label for="caregiverDTO">Caregiver</label>
        <input type="text" name="caregiverDTO" class="form-control" [(ngModel)]="patient.caregiverDTO.name"/>
      </div>
    </div>

    <div id="lower">
      <button type="submit"
              class="btn btn-primary">Create
      </button>

    </div>
  </div>
</form>
